APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_URL=http://localhost

REDIS_HOST=127.0.0.1
# REDIS_PASSWORD=
# REDIS_PORT=
# REDIS_DB=

# You can also use a unix socket for redis (more performant)
# REDIS_CACHE_CONNECTION=unix_socket
# REDIS_UNIX_SOCKET=/var/run/redis/redis.sock

# Using Redis as cache driver instead of files (default) is recommended
CACHE_DRIVER=redis

# Using syslog is recommended when not in development
# APP_LOG=syslog

# Set this for live reload functionality via Pusher
# BROADCAST_DRIVER=pusher
# PUSHER_KEY=
# PUSHER_SECRET=
# PUSHER_APP_ID=
# PUSHER_CLUSTER=

# Set this for live reload functionality via Echo/Socket.io/Redis/Laravel Echo Server
# BROADCAST_DRIVER=redis
